<div class="">
          <form>
            <div class="panel-body" style="background-color:azure"  >
            <div class="form-group" >
            <div class="panel panel-primary">
            <div class="panel-heading">Log The Job Here</div>
            <div class="panel-body">
              <ul class="list-group">
                  <li class="list-group-item list-group-item-primary"><label>Company:</label> <input class="form-control input-sm" [(ngModel)]="company" name="company"></li>
                  <li class="list-group-item list-group-item-primary"><label>Title:</label> <input class="form-control input-sm"[(ngModel)]="title" name="title"></li>
                  <li class="list-group-item list-group-item-primary"><label>Job Board:</label> <input class="form-control input-sm" [(ngModel)]="jobboard" name="jobboard"></li>
                  <li class="list-group-item list-group-item-primary"><label>Date:</label><input type="text" class="form-control input-sm datepicker" placeholder="Date" name="date" [(ngModel)]="date" name="date"></li>
                  <li class="list-group-item list-group-item-primary"><label>Resume:</label><br><button type="button" class="btn btn-info" [(ngModel)]="resume" name="resume" ngDefaultControl>Browse</button></li>
                  <li class="list-group-item list-group-item-primary"><label>Link:</label> <input class="form-control input-sm" [(ngModel)]="link" name="link"></li>   
                  <li class="list-group-item list-group-item-primary"><button type="button" class="btn btn-success" (click)="addJob($event)">Submit</button></li>
              </ul>
            </div>
            </div>
            </div>
            </div>
            </form>
</div>
<script>
    $(function(){
    $('.datepicker').datepicker({
      format: 'mm-dd-yyyy'
    });
    });
</script>


