
<div style="height:100%;">
  <div style="width:100%;text-align:center;vertical-align:middle;">
      <ul class="list-group">
        <table style="width:100%;height:100%;">
          <tr><td>  
        <li class="list-group-item list-group-item-primary"><button type="button" class="btn btn-primary" name="Get" ngDefaultControl (click)="getJob()">Get All Jobs</button></li>
        </td></tr>
        <tr>
          <li class="list-group-item list-group-item-primary" style="background-color:lightgreen;"><td><button type="button" class="btn btn-info" name="Get" ngDefaultControl (click)="getJobByName(com.value)">Get Job By Name</button></td><td><input class="form-control input-sm" type="text" size="50" #com placeholder="Search By Company Name" [(ngModel)]="textValue" required></td></li></tr>
        </table>
        </ul>
  </div>
<form class="well" style="background-color:gainsboro;">        
<div class="form-group">
     <div class="panel panel-primary">
    <div class="panel-heading">List Of Jobs Applied</div>
    <div style="display:block;overflow:scroll;height:500px">
    <div class="panel-body" *ngFor="let job of jobs" >
        <ul class="list-group">
            <li class="list-group-item list-group-item-primary">COMPANY:&nbsp;&nbsp;&nbsp;{{job.company}}</li>
            <li class="list-group-item list-group-item-info">TITLE:&nbsp;&nbsp;&nbsp;{{job.title}}</li>
            <li class="list-group-item list-group-item-success">DATE:&nbsp;&nbsp;&nbsp;{{job.date}}</li>
            <li class="list-group-item list-group-item-danger">JOB BOARD:&nbsp;&nbsp;&nbsp;{{job.jobboard}}</li>
            <li class="list-group-item list-group-item-info">RESUME:&nbsp;&nbsp;&nbsp;{{job.resume}}</li>
            <li class="list-group-item list-group-item-warning">LINK:&nbsp;&nbsp;&nbsp;{{job.link}}</li>
            <button type="button" class="btn btn-danger col-md-3" [(ngModel)]="delete" name="delete" ngDefaultControl (click)="deleteJob(job._id)" value="delete">Delete</button>
        </ul>        
      </div>
    </div>
  </div>
</div>
</form>
</div>